name: test
on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
env:
  GO_VERSION: '1.19'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg
            ~/.cache
          key: go-build-${{ hashFiles('**/go.sum') }}
          restore-keys: go-build-
      - run: make

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg
            ~/.cache
          key: go-lint-${{ hashFiles('**/go.sum') }}
          restore-keys: go-lint-
      - run: make lint

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg
            ~/.cache
          key: go-lint-${{ hashFiles('**/go.sum') }}
          restore-keys: go-lint-
      - run: make test
      - run: make codecov
